.sidebar {
  float:right;
  background-color: coral;
  border-color: darkblue;
  border-style: dotted;
  padding:20px;
  margin:20px;
  box-sizing: border-box;
}
img.left{
  float:left;
  border-color: darkblue;
  border-style: dotted;
  padding:20px;
  margin:20px;
}
img.right{
  float:right
  border-color: darkblue;
  border-style: dotted;
  padding:20px;
  margin:20px;
}
